<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid d-flex justify-content-center">
    <a
      class="navbar-brand"
      href=""
      [routerLink]="['/page1']"
      routerLinkActive="router-link-active"
      >Page 1</a
    >
    <a
      class="navbar-brand"
      href=""
      [routerLink]="['/page2']"
      routerLinkActive="router-link-active"
      >Page 2</a
    >
    <a
      class="navbar-brand"
      href=""
      [routerLink]="['/page3']"
      routerLinkActive="router-link-active"
      >Page 3</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
